.container {
  padding: 2rem;
}

.container h1 {
  padding: 1rem 0;
}

.container h2 {
  padding-top: 2rem;
}

.createButton {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

.alert {
  margin-left: 2rem;
  margin-bottom: 0;
  padding: 0.5rem 1rem;
}

.searchImage {
  display: block;
  margin-top: 1rem;
}
